*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    padding: 0;
}

body{
    display: flex;
}

header{
    padding: 45px;
    width: 22%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

main{
    display: flex;
    flex-direction: column;
    width: 78%;
}

footer{
    height: 60vh;
    width: 100%;
    background-color: rgb(36, 36, 35);
    padding: 0% 5%;
}

header>div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Nome{
    margin-bottom: 36px;
}

.Nome a{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.Louis>img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.nav-bar{
    font-family: "Montserrat", sans-serif;
}

.nav-bar>li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar>li>a{
    position: relative;
    padding: 8px 0px;
    margin-bottom: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.699);
    text-decoration: none;
    font-weight: 700;
    transition: all ease 0.5s;
}

.nav-bar>li>a:hover{
    color: black;
}

#Home{
    position: relative;
    color: rgb(0, 0, 0);
}

#Home::after{
    position: absolute;
    content: "";
    display: flex;
    background-color: black;
    height: 1px;
    bottom: 2px;
    width: 50px;
}

#outros::after{
    position: absolute;
    content: "";
    display: flex;
    height: 1px;
    width: 100%;
    transition: all ease 0.3s;
    transform: scale(0);
    background-color: black;
    bottom: -2px;
}

#outros:hover::after{
    transform: scale(1);
}

.nav-bar-end{
    position: relative;
    border-width: 1px;
    border-color: rgb(237, 229, 213);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar-end>form{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    left: 5px;
}

.nav-bar-end>form>input{
    padding: 0px 50px 0px 5px;
    align-items: start;
}

.nav-bar-end>h1{
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #383838;
    margin-bottom: 5px;
}

.nav-bar-end span::after{
    right: 22%;
    bottom: 7%;
    position: absolute;
    content: url(Imagens/paper-plane.png);
}

.part1{
    display: flex;
    flex-wrap: wrap;
}

.Louis2{
    object-fit: cover;
    width: 50%;
    height: 100vh;
}

.Sobre{
    position: relative;
    background-color: rgb(247, 249, 250);
    width: 50%;
    height: 100vh;
    padding-top: 22%;
}

.Sobre>h1{
    color: rgb(237, 237, 237);
    position: absolute;
    top: 24%;
    font-size: 70px;
}

#Hello{
    top: 29.5%;
}

.Sobre>p{
    position: absolute;
    color: rgb(199, 199, 199);
    left: 8%;
    font-size: 24px;
}

.desc{
    margin-left: 8%;
}

.desc h1{
    line-height: 60px;
    font-size: 40px;
    margin-bottom: 5%;
}

.desc h1 span{
    color: rgb(204, 183, 143);
}

.desc p{
    color: rgb(163, 163, 163);
    font-size: 18px;
    line-height: 32px;
}

#Nome2{
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 40px;
    color: black;
    margin: 30px 0px;
}

.social1{
    display: flex;
}

.social span img{
    width: 30px;
    height: 30px;
}

.social{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 2%;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
}

.part2{
    width: 100%;
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 650;
    color: rgb(56, 56, 56);
    padding-top: 4%;
    margin-bottom: 24px;
    padding-bottom: 25px;
}

.part2 div{
    display: flex;
}

.fotos{
    width: 222px;
    height: 200px;
    transition: all ease 0.3s;
}

.instagram-fotos{
    width: 100%;
    justify-content: center;
}

.imagem1{
    position: relative;
    background: url(Imagens/image_1.jpg);
    background-position: center;
    background-size: cover;
    height: 21vh;
    width: 15%;
}

.imagem2{
    position: relative;
    background: url(Imagens/image_2.jpg);
    background-position: center;
    background-size: cover;
    height: 21vh;
    width: 15%;
}

.imagem3{
    position: relative;
    background: url(Imagens/image_3.jpg);
    background-position: center;
    background-size: cover;
    height: 21vh;
    width: 15%;
}

.imagem4{
    position: relative;
    background: url(Imagens/image_4.jpg);
    background-position: center;
    background-size: cover;
    height: 21vh;
    width: 15%;
}

.imagem5{
    position: relative;
    background: url(Imagens/image_5.jpg);
    background-position: center;
    background-size: cover;
    height: 21vh;
    width: 15%;
}

.imagem1, .imagem2, .imagem3, .imagem4, .imagem5{
    transition: all ease 0.3s;
}

.imagem1::after, .imagem2::after, .imagem3::after, .imagem4::after, .imagem5::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(Imagens/instagram-brands-solid-branco.png);
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all ease 0.3s;
}

.imagem1::before, .imagem2::before, .imagem3::before, .imagem4::before, .imagem5::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.3s;
}

.imagem1:hover::before, .imagem2:hover::before, .imagem3:hover::before, .imagem4:hover::before, .imagem5:hover::before{
    opacity: 1;
}

.imagem1:hover::after, .imagem2:hover::after, .imagem3:hover::after, .imagem4:hover::after, .imagem5:hover::after{ 
    opacity: 1;
}

.rodapé{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coisas-footer{
    padding: 0px 15px;
    width: 18vw;
    margin-bottom: 10%;
    vertical-align: top;
    line-height: 100%;
}

.coisas-footer h1{
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 30%;
    margin-bottom: 12%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.footer-img{
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

#img1{
    background: url(Imagens/image_1.jpg);
    background-position: center;
    background-size: cover;
}

#img2{
    background: url(Imagens/image_2.jpg);
    background-position: center;
    background-size: cover;
}

#img3{
    background: url(Imagens/image_3.jpg);
    background-position: center;
    background-size: cover;
}

#img4{
    background: url(Imagens/image_4.jpg);
    background-position: center;
    background-size: cover;
}

#img5{
    background: url(Imagens/image_5.jpg);
    background-position: center;
    background-size: cover;
}

#img6{
    background: url(Imagens/image_6.jpg);
    background-position: center;
    background-size: cover;
}

.imagens-footer{
    display: flex;
    flex-wrap: wrap;
}

.datas li{
    width: 90%;
    padding: 7px 0px;
    margin-bottom: 10px;
    position: relative;
    list-style: none;
}

.datas-after::after{
    list-style: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    background-color: rgb(59, 59, 57);
}

.datas li a{
    text-decoration: none;
    color: rgb(145, 145, 144);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.datas li a span{
    color: rgb(212, 212, 212);
    position: absolute;
    right: 0;
    top: 0;
}

#contatos{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

#contatos p{
    display: inline-block;
    color: rgb(145, 145, 144);
    margin-bottom: 30px;
    line-height: 23px;
}

#contatos p span img{
    left: -10%;
    width: 20px;
    height: 20px;
}

#contatos img{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

#contatos a{
    position: relative;
    display: flex;
    text-decoration: none;
    color: rgb(247, 255, 255);
    margin-bottom: 30px;
}

#contatos a span img{
    width: 20px;
    height: 20px;
    left: -10%;
}

#carta span img{
    width: 20px;
    height: 20px;
    left: -10%;
}

#colorlib{
    position: absolute;
    left: 11%;
    bottom: 0;
}

#colorlib p{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(145, 145, 144);
}

#colorlib p span img{
    width: 17px;
    height: 17px;
}

#colorlib p span a{
    text-decoration: none;
    color: rgb(145, 145, 144);
    transition: all ease 0.3s;
}

#colorlib p span a:hover{
    color: white;
}